{% extends 'base.html' %}

{% block title %} About | {{ block.super }}{% endblock title %}

{% block content %}

<h1>Contact Us</h1>
<hr>
<p>Venkata Sai Sabbineni Private Bank is a private bank with user-friendly services and a good rate of interest.</p>

<p><u><b>Vision, Mission And Values</b></u></p>
<p>Venkata Sai Sabbineni Private Bank’s mission is to be a world class Indian bank. We have a two-fold objective: first, to be the preferred provider of banking services for target retail and wholesale customer segments. The second objective is to achieve healthy growth in profitability, consistent with the bank’s risk appetite.
The bank is committed to maintaining the highest level of ethical standards, professional integrity, corporate governance and regulatory compliance. Venkata Sai Sabbineni Private Bank’s business philosophy is based on five core values: Operational Excellence, Customer Focus, Product Leadership, People and Sustainability.
</p>


<p><u><b>For Further Information Contact</b></u></p>
<p>Venkata Sai Sabbineni : 9490471514</p>

{% endblock content %}
